.box {
  display: flex;
  gap: 25px;
  justify-content: center;
}
.btn {
  padding: 5px 10px;
  border: 1px solid #0d311c;
  border-radius: 5px;
  background-color: rgb(238, 233, 228);
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
  transition: transform 250ms linear;
}
.btn:hover,
.btn:focus {
  background-color: rgb(188, 245, 193);
  transform: scale(1.2);
}
